
header  {
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color:#4aaaa5;
	width:960px
	padding:15px;
	border:2px solid #cccccc;
	color:white;
}

* {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image:url(https://www.toptal.com/designers/subtlepatterns/page/2/);
}

.right {
	float:right;
	color:#777777;
}



.Titlecolor {
	color: #4aaaa5;
	border-bottom:1px solid grey;
	background-color: white;
}

nav   {
	float:right;
}

aside {
	float:right;
	border-style:1px;
	border-color: grey;
	width:270px;
	margin:1px;
	padding: 1px;
	background-color:grey;


}

footer {
	text-align:center;
	background-color: #666666;
	position:absolute;
    bottom:0;
    width:100%;
    height:60px;   
   
}

.maincontent {
	border: #dddddd;
	border-style:solid;
	border: solid;
	background-color:#ffffff;
	width:650px;

}

























